// DEBUG

// .container {
//     border: 1px solid red;
// }

// .row {
//     border: 1px solid black;
// }

// [class*=col] {
//     border: 1px solid orange;
// }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    min-width: 428px;
    font-family: 'Lato', sans-serif;
}


@media screen and (max-width: 991px) {

    [class*=col] {
        text-align: center;
    }

    .logo_container {
        padding-bottom: 10px;
        text-align: left;
    }

    .menu, .central_row p {
        display: none;
    }

    header nav .hamburger_menu {
        visibility: visible;
    }
}

@media screen and (min-width: 992px) {

    .hamburger_menu {
        visibility: hidden;
        padding-bottom: 10px;
    }
}